@import url("https://fonts.googleapis.com/css2?family=Praise&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Praise&display=swap");
:root {
  /* fonts */
  --praise: "Praise", cursive;
  --poppins: "Poppins", sans-serif;

  /* colors */
  --red: #f72d57;
  --black: #3f3f3f;
  --white: #fff;
  --gray: #ebebeb;
  --yellow: #f2bc57;

  --trans: all linear 0.2s;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body,
html {
  scroll-behavior: smooth;
}
button {
  border: none;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.heading {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 72px;
  text-align: center;
  margin-bottom: 1.5rem;
}
.heading span {
  color: var(--red);
}
/* common css end */
/* media part */

/* common media part */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .heading {
    font-size: 2.7rem;
  }
  /* navigation area end*/
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
/* common media part */
